* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-1: #C69B7B;
    --bg-2: #F7CCAC;
    --bg-3: #3A3845;
    --text-color: #3A3845;
}

/* ====================== header ======================== */

.header {
    width: 100%;
    height: 100vh;
    background-image: url(./image/1.JPG);
    background-size: cover;
    background-position: bottom;
}

.header-group {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}

.header-content {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 30%;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 20px;
}

.header-content div,
.header-content a {
    color: #FFFFFF;
}

.header-content div:nth-child(2) {
    font-size: 4.4em;

}

.header-content div:nth-child(1),
.header-content div:nth-child(3) {
    font-size: 2.5em;
    padding-left: 4px;

}

.header-content div:nth-child(3) {
    padding-top: 20px;
}

.header-content a {
    display: inline-block;
    padding-top: 30px;
    padding-left: 8px;
    text-decoration: none;
}

.header-content a:hover {
    transform: scale(1.2);
    transform-origin: left bottom;
    text-decoration: underline;
}

/* ====================== Nav-bar ======================== */

.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--bg-1);
    padding: 8px 0;
    box-shadow: black 0 1px 2px;
}

.nav-bar-group {
    width: 1024px;
    margin: 0 auto;
}

.nav-bar-group nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-bar-group nav ul li {
    padding-right: 36px;
    list-style: none;
    text-shadow: black 0 1px 4px
}

.nav-bar-group nav ul li:last-child {
    padding-right: 0;
}

.nav-bar-group nav ul li a {
    text-decoration: none;
    color: black;
}

/* ====================== About ======================== */

.about {
    width: 100%;
    height: 500px;
    box-shadow: black 0 2px 4px;
}

.about-group {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

.about-content img {
    position: absolute;
    right: 0;
    width: 290px;
    height: 310px;
}