* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(./image/1.JPG);
    background-size: cover;
    background-position: bottom;
}

.header-group {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}

.header-content {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 30%;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 20px;
}

.header-content div,
.header-content a {
    color: #FFFFFF;
    /* font-size: 25px; */
}

.header-content div:nth-child(2) {
    font-size: 4.4em;

}

.header-content div:nth-child(1),
.header-content div:nth-child(3) {
    font-size: 2.5em;
    padding-left: 4px;

}

.header-content div:nth-child(3) {
    padding-top: 20px;
}

.header-content a {
    display: inline-block;
    padding-top: 30px;
    padding-left: 8px;
    text-decoration: none;
}

.header-content a:hover {
    transform: scale(1.2);
    transform-origin: left bottom;
    text-decoration: underline;
}